@mixin font1($weight) {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: $weight; //200,300,400,600,700,900
}

@mixin for-size($range) {
	$xs-boundary: 600px;
	$sm-boundary: 900px;
	$md-boundary: 1200px;
	$lg-boundary: 1800px;

	@if $range == xs {
		@content;
	} @else if $range == xs-only {
		@media (max-width: $xs-boundary - 1) { @content; }

	} @else if $range == sm {
		@media (min-width: $xs-boundary) { @content; }
	} @else if $range == sm-only {
		@media (min-width: $xs-boundary) and (max-width: $sm-boundary - 1) { @content; }

	} @else if $range == md {
		@media (min-width: $sm-boundary) { @content; }
	} @else if $range == md-only {
		@media (min-width: $sm-boundary) and (max-width: $md-boundary - 1) { @content; }

	} @else if $range == lg {
		@media (min-width: $md-boundary) { @content; }
	} @else if $range == lg-only {
		@media (min-width: $md-boundary) and (max-width: $lg-boundary - 1) { @content; }

	} @else if $range == xl {
		@media (min-width: $lg-boundary) { @content; }
	}
}

@mixin transform($option) {
	transform: $option;
	-moz-transform: $option;
	-webkit-transform: $option;
	-o-transform: $option;
}

@mixin gradient($deg, $color1, $color2) {
	background-image: linear-gradient($deg, $color1, $color2);
	background-image: linear-gradient($deg, $color1, $color2);
	background-image: linear-gradient($deg, $color1, $color2);
	background-image: linear-gradient($deg, $color1, $color2);
}

@mixin box-shadow($option) {
	box-shadow: $option;
	-moz-box-shadow: $option;
	-webkit-box-shadow: $option;
	-o-box-shadow: $option;
}

@mixin border-radius($option) {
	border-radius: $option;
	-moz-border-radius: $option;
	-webkit-border-radius: $option;
	-o-border-radius: $option;
}

$prim: #d10a46;
$prim-d: darken($prim, 10%);
$prim-l: lighten($prim, 10%);
$sec: #ee5820;
$w: #fff;
$w-d1: darken($w, 2.5%);
$w-d2: darken($w, 5%);
$b: #000;
$txt: rgba(0,0,0,0.87);
$txt2: lighten($b, 46%);
$txt3: lighten($b, 62%);
$bar-xs: #90e67e;
$bar--xs: lighten($bar-xs, 15%);
$bar-sm: #d9cf4f;
$bar--sm: lighten($bar-sm, 15%);
$bar-md: #dd654b;
$bar--md: lighten($bar-md, 15%);
$bar-lg: #cb63eb;
$bar--lg: lighten($bar-lg, 15%);
$bar-xl: #6379e9;
$bar--xl: lighten($bar-xl, 15%);

body {
	@include font1(400);
	color: $txt;
	background: $w-d1;
}

header.header {
	@include gradient(90deg, $prim, $prim-l);
	width: 100%;
	padding: 1rem 0;

	.row {
		padding-top: 0;
		padding-bottom: 0;
	}

	h1.logo {
		font-weight: 700;
		font-size: 2.5rem;
		color: $w;
	}
}

nav.nav {
	background: $prim;
	flex: 0 0 100%;

	ul {
		width: 100%;
		display: block;
		float: left;

		li {
			width: auto;
			display: inline;
			float: left;

			a {
				width: 100%;
				display: block;
				float: left;
				font-size: 1.1rem;
				font-weight: 300;
				padding: 0.75rem 1.5rem;
				color: $w;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 5px;
					background: $prim-l;
				}

				&:hover {
				}
			}
		}
	}
	@include for-size(sm) {
	}
}


main.main {
	flex-basis: 100%;
	padding: 1.5rem 0;

	section.section {
		flex-basis: 100%;
		padding-bottom: 1.5rem;

		&:last-child {
			padding-bottom: 0;
		}
	}

	h1 {
		line-height: 1;
		color: $prim;
	}

	h3 {
		line-height: 1;
		margin-top: 0.75rem;
	}

	h5 {
		line-height: 1;
		margin-top: 0.75rem;
	}

	.sheet {
		padding: 1.5rem;
		background: $w;
		flex: 0 0 100%;
		@include box-shadow(0 2px 8px rgba(0,0,0,0.12));
		@include border-radius(5px);

		h5 {
			margin-top: 0;
			margin-bottom: 0.75rem;
		}
	}

	span.markup {
		font-weight: 700;
	}

	.bar {
		background: $txt3;
		flex: 0 0 100%;
		padding: 0.5rem 0.75rem;
	}

	.bar-xs { 	@include gradient(90deg, $prim 60% , $prim-l 100%); }
	.bar--xs {	background: $prim-l; }
	.bar-sm { 	@include gradient(90deg, $prim 45% , $prim-l 100%); }
	.bar--sm {	background: $prim-l; }
	.bar-md { 	@include gradient(90deg, $prim 30% , $prim-l 100%); }
	.bar--md {	background: $prim-l; }
	.bar-lg { 	@include gradient(90deg, $prim 15% , $prim-l 100%); }
	.bar--lg {	background: $prim-l; }
	.bar-xl { 	@include gradient(90deg, $prim 0% , $prim-l 100%); }
	.bar--xl {	background: $prim-l; }

	@include for-size(sm) {
	}
}
