body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.87);
	background: #f9f9f9;
}

header.header {
	background-image: linear-gradient(90deg, #d10a46, #f41a5c);
	background-image: linear-gradient(90deg, #d10a46, #f41a5c);
	background-image: linear-gradient(90deg, #d10a46, #f41a5c);
	background-image: linear-gradient(90deg, #d10a46, #f41a5c);
	width: 100%;
	padding: 1rem 0;
}

header.header .row {
	padding-top: 0;
	padding-bottom: 0;
}

header.header h1.logo {
	font-weight: 700;
	font-size: 2.5rem;
	color: #fff;
}

nav.nav {
	background: #d10a46;
	flex: 0 0 100%;
}

nav.nav ul {
	width: 100%;
	display: block;
	float: left;
}

nav.nav ul li {
	width: auto;
	display: inline;
	float: left;
}

nav.nav ul li a {
	width: 100%;
	display: block;
	float: left;
	font-size: 1.1rem;
	font-weight: 300;
	padding: 0.75rem 1.5rem;
	color: #fff;
	position: relative;
}

nav.nav ul li a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #f41a5c;
}

main.main {
	flex-basis: 100%;
	padding: 1.5rem 0;
}

main.main section.section {
	flex-basis: 100%;
	padding-bottom: 1.5rem;
}

main.main section.section:last-child {
	padding-bottom: 0;
}

main.main h1 {
	line-height: 1;
	color: #d10a46;
}

main.main h3 {
	line-height: 1;
	margin-top: 0.75rem;
}

main.main h5 {
	line-height: 1;
	margin-top: 0.75rem;
}

main.main .sheet {
	padding: 1.5rem;
	background: #fff;
	flex: 0 0 100%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
	-o-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

main.main .sheet h5 {
	margin-top: 0;
	margin-bottom: 0.75rem;
}

main.main span.markup {
	font-weight: 700;
}

main.main .bar {
	background: #9e9e9e;
	flex: 0 0 100%;
	padding: 0.5rem 0.75rem;
}

main.main .bar-xs {
	background-image: linear-gradient(90deg, #d10a46 60%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 60%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 60%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 60%, #f41a5c 100%);
}

main.main .bar--xs {
	background: #f41a5c;
}

main.main .bar-sm {
	background-image: linear-gradient(90deg, #d10a46 45%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 45%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 45%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 45%, #f41a5c 100%);
}

main.main .bar--sm {
	background: #f41a5c;
}

main.main .bar-md {
	background-image: linear-gradient(90deg, #d10a46 30%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 30%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 30%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 30%, #f41a5c 100%);
}

main.main .bar--md {
	background: #f41a5c;
}

main.main .bar-lg {
	background-image: linear-gradient(90deg, #d10a46 15%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 15%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 15%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 15%, #f41a5c 100%);
}

main.main .bar--lg {
	background: #f41a5c;
}

main.main .bar-xl {
	background-image: linear-gradient(90deg, #d10a46 0%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 0%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 0%, #f41a5c 100%);
	background-image: linear-gradient(90deg, #d10a46 0%, #f41a5c 100%);
}

main.main .bar--xl {
	background: #f41a5c;
}
