/**/ // MESH SETTINGS
/**/ $grid-columns: 12;
/**/ // columns
/**/ $column-v-gap: 1.5rem; //vertical-gap between columns in a row
/**/ $column-h-gap: 1.5rem; //horizontal-gap between columns lie by chance
/**/ // rows
/**/ $row-v-gap: 0;
/**/ $row-h-gap: 0.75rem;
/**/ $first-row-gap: true;
/**/ $last-row-gap: true;
/**/ $max-width: 1200px;
/**/ // alignment
/**/ $standard-va: flex-start; // flex-start | flex-end | center | stretch;
/**/ $standard-ha: flex-start; // flex-start | flex-end | center;
/**/ // responsive breakpoints
/**/ $rangeNames: 'xs', 'sm', 'md', 'lg', 'xl';

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}


//Default CSS
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: -moz-border-box;
	box-sizing: -webkit-border-box;
	box-sizing: -o-border-box;
	text-decoration: none;
	outline: none;

	&:before, &:after {
		content: '';
		margin:0;
		padding: 0;
	}
}

body {
	font-size: 15px;
	line-height: 1.35;
}

h1, h2, h3, h4, h5, h6, p {
	flex: 0 0 100%;
}

h1 {	font-size: 3.5rem; }
h2 {	font-size: 3rem; }
h3 {	font-size: 2.5rem; }
h4 {	font-size: 2rem; }
h5 {	font-size: 1.5rem; }
h6 {	font-size: 1rem; }
p {		font-size: 1rem; }

//GRID + COLUMNS
$half-column-v-gap: $column-v-gap / 2;
$half-column-h-gap: $column-h-gap / 2;

.row {
	width: 100%;
	max-width: $max-width;
	height: auto;
	margin: 0 auto;
	padding-left: $row-h-gap;
	padding-right: $row-h-gap;
	padding-top: $row-v-gap;
	padding-bottom: $row-v-gap;

	//flex-box
	@include flexbox();
	flex-flow: row wrap;
	justify-content: $standard-ha;
	align-items: $standard-va;
	align-content: flex-start;

	//remove gap on first and last row if true
	@if $first-row-gap == true {
		&:first-child {	padding-top: $row-v-gap; }
	} @else {
		&:first-child {	padding-top: 0; }
	}

	@if $last-row-gap == true {
		&:last-child {	padding-bottom: $row-v-gap; }
	} @else {
		&:last-child {	padding-bottom: 0; }
	}
}

.col {
	height: auto;
	flex: 0 0 auto;
	margin: 0;
	padding-left: $half-column-h-gap;
	padding-right: $half-column-h-gap;
	padding-top: $half-column-v-gap;
	padding-bottom: $half-column-v-gap;
	@include flexbox();
	flex-flow: wrap;
	align-items: flex-start;
}

//BREAKPOINTS
@mixin for-size($range) {
	$xs-boundary: 600px;
	$sm-boundary: 900px;
	$md-boundary: 1200px;
	$lg-boundary: 1800px;

	@if $range == xs {
		@content;
	} @else if $range == xs-only {
		@media (max-width: $xs-boundary - 1) { @content; }

	} @else if $range == sm {
		@media (min-width: $xs-boundary) { @content; }
	} @else if $range == sm-only {
		@media (min-width: $xs-boundary) and (max-width: $sm-boundary - 1) { @content; }

	} @else if $range == md {
		@media (min-width: $sm-boundary) { @content; }
	} @else if $range == md-only {
		@media (min-width: $sm-boundary) and (max-width: $md-boundary - 1) { @content; }

	} @else if $range == lg {
		@media (min-width: $md-boundary) { @content; }
	} @else if $range == lg-only {
		@media (min-width: $md-boundary) and (max-width: $lg-boundary - 1) { @content; }

	} @else if $range == xl {
		@media (min-width: $lg-boundary) { @content; }
	}
}

//GENERATE COLUMNS
//Each Range and Upper
@each $rangeName in $rangeNames {
	@include for-size($rangeName) {
		@for $i from 1 through $grid-columns {
			//columns
			.#{$rangeName}-#{$i} {
				flex-basis: 100 / $grid-columns * $i+%;
				max-width: 100 / $grid-columns * $i+%;
			}
			//offset
			.#{$rangeName}-offset-#{$i} {
				margin-left: 100 / $grid-columns * $i+%;
			}
		}
		//dynamic
		.#{$rangeName}-auto {		flex: 0 0 auto; }
		.#{$rangeName}-max {		flex: 1 1 auto; }
		//hide and show
		.#{$rangeName}-hide {		visibility: hidden; }
		.#{$rangeName}-show {		visibility: visible; }
		//order
		.#{$rangeName}-first {		order: -1; }
		.#{$rangeName}-last {		order: 99999999; }
		//alignment
		.#{$rangeName}-start {		justify-content: flex-start; }
		.#{$rangeName}-center {		justify-content: center; }
		.#{$rangeName}-end {		justify-content: flex-end; }
		.#{$rangeName}-around {		justify-content: space-around; }
		.#{$rangeName}-between {	justify-content: space-between; }
		.#{$rangeName}-top {		align-items: flex-start; }
		.#{$rangeName}-middle {		align-items: center; }
		.#{$rangeName}-bottom {		align-items: flex-end; }
		.#{$rangeName}-stretch {	align-items: stretch; }
		//alignment childs
		.#{$rangeName}-start-child > * {	justify-content: flex-start; }
		.#{$rangeName}-center-child > * {	justify-content: center; }
		.#{$rangeName}-end-child > * {		justify-content: flex-end; }
		.#{$rangeName}-around-child > * {	justify-content: space-around; }
		.#{$rangeName}-between-child > * {	justify-content: space-between; }
		.#{$rangeName}-top-child > * {		align-items: flex-start; }
		.#{$rangeName}-middle-child > * {	align-items: center; }
		.#{$rangeName}-bottom-child > * {	align-items: flex-end; }
		.#{$rangeName}-stretch-child > * {	align-items: stretch; }
		//direction
		.#{$rangeName}-row-ltr {	flex-direction: row; }
		.#{$rangeName}-row-rtl {	flex-direction: row-reverse; }
		.#{$rangeName}-col-ltr {	flex-direction: column; }
		.#{$rangeName}-col-rtl {	flex-direction: column-reverse; }
		//wrap
		.#{$rangeName}-wrap {		flex-wrap: wrap; }
		.#{$rangeName}-nowrap {		flex-wrap: nowrap; }
		//gap
		.#{$rangeName}-nogap {		padding: 0; }
		.#{$rangeName}-nogap-tb {	padding-top: 0; padding-bottom: 0; }
		.#{$rangeName}-nogap-lr {	padding-left: 0; padding-right: 0; }
	}
	//Only each Range
	@include for-size(#{$rangeName}-only) {
		@for $i from 1 through $grid-columns {
			//offset
			.#{$rangeName}--offset-#{$i} {
				margin-left: 100 / $grid-columns * $i+%;
			}
		}
		//hide and show
		.#{$rangeName}--hide {		visibility: hidden; }
		.#{$rangeName}--show {		visibility: visible; }
		//order
		.#{$rangeName}--first {		order: -1; }
		.#{$rangeName}--last {		order: 99999999; }
		//alignment
		.#{$rangeName}--start {		justify-content: flex-start; }
		.#{$rangeName}--center {	justify-content: center; }
		.#{$rangeName}--end {		justify-content: flex-end; }
		.#{$rangeName}--around {		justify-content: space-around; }
		.#{$rangeName}--between {	justify-content: space-between; }
		.#{$rangeName}--top {		align-items: flex-start; }
		.#{$rangeName}--middle {	align-items: center; }
		.#{$rangeName}--bottom {	align-items: flex-end; }
		.#{$rangeName}--stretch {	align-items: stretch; }
		//alignment childs
		.#{$rangeName}--start-child > * {	justify-content: flex-start; }
		.#{$rangeName}--center-child > * {	justify-content: center; }
		.#{$rangeName}--end-child > * {		justify-content: flex-end; }
		.#{$rangeName}--around-child > * {	justify-content: space-around; }
		.#{$rangeName}--between-child > * {	justify-content: space-between; }
		.#{$rangeName}--top-child > * {		align-items: flex-start; }
		.#{$rangeName}--middle-child > * {	align-items: center; }
		.#{$rangeName}--bottom-child > * {	align-items: flex-end; }
		.#{$rangeName}--stretch-child > * {	align-items: stretch; }
		//direction
		.#{$rangeName}--row-ltr {	flex-direction: row; }
		.#{$rangeName}--row-rtl {	flex-direction: row-reverse; }
		.#{$rangeName}--col-ltr {	flex-direction: column; }
		.#{$rangeName}--col-rtl {	flex-direction: column-reverse; }
		//wrap
		.#{$rangeName}--wrap {		flex-wrap: wrap; }
		.#{$rangeName}--nowrap {	flex-wrap: nowrap; }
		//gap
		.#{$rangeName}--nogap {		padding: 0; }
		.#{$rangeName}--nogap-tb {	padding-top: 0; padding-bottom: 0; }
		.#{$rangeName}--nogap-lr {	padding-left: 0; padding-right: 0; }
	}
}
