/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: -moz-border-box;
	box-sizing: -webkit-border-box;
	box-sizing: -o-border-box;
	text-decoration: none;
	outline: none;
}

*:before, *:after {
	content: '';
	margin: 0;
	padding: 0;
}

body {
	font-size: 15px;
	line-height: 1.35;
}

h1, h2, h3, h4, h5, h6, p {
	flex: 0 0 100%;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
}

.row {
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0;
	padding-bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.row:first-child {
	padding-top: 0;
}

.row:last-child {
	padding-bottom: 0;
}

.col {
	height: auto;
	flex: 0 0 auto;
	margin: 0;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: wrap;
	align-items: flex-start;
}

.xs-1 {
	flex-basis: 8.33333%;
	max-width: 8.33333%;
}

.xs-offset-1 {
	margin-left: 8.33333%;
}

.xs-2 {
	flex-basis: 16.66667%;
	max-width: 16.66667%;
}

.xs-offset-2 {
	margin-left: 16.66667%;
}

.xs-3 {
	flex-basis: 25%;
	max-width: 25%;
}

.xs-offset-3 {
	margin-left: 25%;
}

.xs-4 {
	flex-basis: 33.33333%;
	max-width: 33.33333%;
}

.xs-offset-4 {
	margin-left: 33.33333%;
}

.xs-5 {
	flex-basis: 41.66667%;
	max-width: 41.66667%;
}

.xs-offset-5 {
	margin-left: 41.66667%;
}

.xs-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.xs-offset-6 {
	margin-left: 50%;
}

.xs-7 {
	flex-basis: 58.33333%;
	max-width: 58.33333%;
}

.xs-offset-7 {
	margin-left: 58.33333%;
}

.xs-8 {
	flex-basis: 66.66667%;
	max-width: 66.66667%;
}

.xs-offset-8 {
	margin-left: 66.66667%;
}

.xs-9 {
	flex-basis: 75%;
	max-width: 75%;
}

.xs-offset-9 {
	margin-left: 75%;
}

.xs-10 {
	flex-basis: 83.33333%;
	max-width: 83.33333%;
}

.xs-offset-10 {
	margin-left: 83.33333%;
}

.xs-11 {
	flex-basis: 91.66667%;
	max-width: 91.66667%;
}

.xs-offset-11 {
	margin-left: 91.66667%;
}

.xs-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.xs-offset-12 {
	margin-left: 100%;
}

.xs-auto {
	flex: 0 0 auto;
}

.xs-max {
	flex: 1 1 auto;
}

.xs-hide {
	visibility: hidden;
}

.xs-show {
	visibility: visible;
}

.xs-first {
	order: -1;
}

.xs-last {
	order: 99999999;
}

.xs-start {
	justify-content: flex-start;
}

.xs-center {
	justify-content: center;
}

.xs-end {
	justify-content: flex-end;
}

.xs-around {
	justify-content: space-around;
}

.xs-between {
	justify-content: space-between;
}

.xs-top {
	align-items: flex-start;
}

.xs-middle {
	align-items: center;
}

.xs-bottom {
	align-items: flex-end;
}

.xs-stretch {
	align-items: stretch;
}

.xs-start-child > * {
	justify-content: flex-start;
}

.xs-center-child > * {
	justify-content: center;
}

.xs-end-child > * {
	justify-content: flex-end;
}

.xs-around-child > * {
	justify-content: space-around;
}

.xs-between-child > * {
	justify-content: space-between;
}

.xs-top-child > * {
	align-items: flex-start;
}

.xs-middle-child > * {
	align-items: center;
}

.xs-bottom-child > * {
	align-items: flex-end;
}

.xs-stretch-child > * {
	align-items: stretch;
}

.xs-row-ltr {
	flex-direction: row;
}

.xs-row-rtl {
	flex-direction: row-reverse;
}

.xs-col-ltr {
	flex-direction: column;
}

.xs-col-rtl {
	flex-direction: column-reverse;
}

.xs-wrap {
	flex-wrap: wrap;
}

.xs-nowrap {
	flex-wrap: nowrap;
}

.xs-nogap {
	padding: 0;
}

.xs-nogap-tb {
	padding-top: 0;
	padding-bottom: 0;
}

.xs-nogap-lr {
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 599px) {
	.xs--offset-1 {
		margin-left: 8.33333%;
	}
	.xs--offset-2 {
		margin-left: 16.66667%;
	}
	.xs--offset-3 {
		margin-left: 25%;
	}
	.xs--offset-4 {
		margin-left: 33.33333%;
	}
	.xs--offset-5 {
		margin-left: 41.66667%;
	}
	.xs--offset-6 {
		margin-left: 50%;
	}
	.xs--offset-7 {
		margin-left: 58.33333%;
	}
	.xs--offset-8 {
		margin-left: 66.66667%;
	}
	.xs--offset-9 {
		margin-left: 75%;
	}
	.xs--offset-10 {
		margin-left: 83.33333%;
	}
	.xs--offset-11 {
		margin-left: 91.66667%;
	}
	.xs--offset-12 {
		margin-left: 100%;
	}
	.xs--hide {
		visibility: hidden;
	}
	.xs--show {
		visibility: visible;
	}
	.xs--first {
		order: -1;
	}
	.xs--last {
		order: 99999999;
	}
	.xs--start {
		justify-content: flex-start;
	}
	.xs--center {
		justify-content: center;
	}
	.xs--end {
		justify-content: flex-end;
	}
	.xs--around {
		justify-content: space-around;
	}
	.xs--between {
		justify-content: space-between;
	}
	.xs--top {
		align-items: flex-start;
	}
	.xs--middle {
		align-items: center;
	}
	.xs--bottom {
		align-items: flex-end;
	}
	.xs--stretch {
		align-items: stretch;
	}
	.xs--start-child > * {
		justify-content: flex-start;
	}
	.xs--center-child > * {
		justify-content: center;
	}
	.xs--end-child > * {
		justify-content: flex-end;
	}
	.xs--around-child > * {
		justify-content: space-around;
	}
	.xs--between-child > * {
		justify-content: space-between;
	}
	.xs--top-child > * {
		align-items: flex-start;
	}
	.xs--middle-child > * {
		align-items: center;
	}
	.xs--bottom-child > * {
		align-items: flex-end;
	}
	.xs--stretch-child > * {
		align-items: stretch;
	}
	.xs--row-ltr {
		flex-direction: row;
	}
	.xs--row-rtl {
		flex-direction: row-reverse;
	}
	.xs--col-ltr {
		flex-direction: column;
	}
	.xs--col-rtl {
		flex-direction: column-reverse;
	}
	.xs--wrap {
		flex-wrap: wrap;
	}
	.xs--nowrap {
		flex-wrap: nowrap;
	}
	.xs--nogap {
		padding: 0;
	}
	.xs--nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.xs--nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 600px) {
	.sm-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	.sm-offset-1 {
		margin-left: 8.33333%;
	}
	.sm-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	.sm-offset-2 {
		margin-left: 16.66667%;
	}
	.sm-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	.sm-offset-3 {
		margin-left: 25%;
	}
	.sm-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	.sm-offset-4 {
		margin-left: 33.33333%;
	}
	.sm-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	.sm-offset-5 {
		margin-left: 41.66667%;
	}
	.sm-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	.sm-offset-6 {
		margin-left: 50%;
	}
	.sm-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	.sm-offset-7 {
		margin-left: 58.33333%;
	}
	.sm-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	.sm-offset-8 {
		margin-left: 66.66667%;
	}
	.sm-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	.sm-offset-9 {
		margin-left: 75%;
	}
	.sm-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	.sm-offset-10 {
		margin-left: 83.33333%;
	}
	.sm-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	.sm-offset-11 {
		margin-left: 91.66667%;
	}
	.sm-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	.sm-offset-12 {
		margin-left: 100%;
	}
	.sm-auto {
		flex: 0 0 auto;
	}
	.sm-max {
		flex: 1 1 auto;
	}
	.sm-hide {
		visibility: hidden;
	}
	.sm-show {
		visibility: visible;
	}
	.sm-first {
		order: -1;
	}
	.sm-last {
		order: 99999999;
	}
	.sm-start {
		justify-content: flex-start;
	}
	.sm-center {
		justify-content: center;
	}
	.sm-end {
		justify-content: flex-end;
	}
	.sm-around {
		justify-content: space-around;
	}
	.sm-between {
		justify-content: space-between;
	}
	.sm-top {
		align-items: flex-start;
	}
	.sm-middle {
		align-items: center;
	}
	.sm-bottom {
		align-items: flex-end;
	}
	.sm-stretch {
		align-items: stretch;
	}
	.sm-start-child > * {
		justify-content: flex-start;
	}
	.sm-center-child > * {
		justify-content: center;
	}
	.sm-end-child > * {
		justify-content: flex-end;
	}
	.sm-around-child > * {
		justify-content: space-around;
	}
	.sm-between-child > * {
		justify-content: space-between;
	}
	.sm-top-child > * {
		align-items: flex-start;
	}
	.sm-middle-child > * {
		align-items: center;
	}
	.sm-bottom-child > * {
		align-items: flex-end;
	}
	.sm-stretch-child > * {
		align-items: stretch;
	}
	.sm-row-ltr {
		flex-direction: row;
	}
	.sm-row-rtl {
		flex-direction: row-reverse;
	}
	.sm-col-ltr {
		flex-direction: column;
	}
	.sm-col-rtl {
		flex-direction: column-reverse;
	}
	.sm-wrap {
		flex-wrap: wrap;
	}
	.sm-nowrap {
		flex-wrap: nowrap;
	}
	.sm-nogap {
		padding: 0;
	}
	.sm-nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.sm-nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 600px) and (max-width: 899px) {
	.sm--offset-1 {
		margin-left: 8.33333%;
	}
	.sm--offset-2 {
		margin-left: 16.66667%;
	}
	.sm--offset-3 {
		margin-left: 25%;
	}
	.sm--offset-4 {
		margin-left: 33.33333%;
	}
	.sm--offset-5 {
		margin-left: 41.66667%;
	}
	.sm--offset-6 {
		margin-left: 50%;
	}
	.sm--offset-7 {
		margin-left: 58.33333%;
	}
	.sm--offset-8 {
		margin-left: 66.66667%;
	}
	.sm--offset-9 {
		margin-left: 75%;
	}
	.sm--offset-10 {
		margin-left: 83.33333%;
	}
	.sm--offset-11 {
		margin-left: 91.66667%;
	}
	.sm--offset-12 {
		margin-left: 100%;
	}
	.sm--hide {
		visibility: hidden;
	}
	.sm--show {
		visibility: visible;
	}
	.sm--first {
		order: -1;
	}
	.sm--last {
		order: 99999999;
	}
	.sm--start {
		justify-content: flex-start;
	}
	.sm--center {
		justify-content: center;
	}
	.sm--end {
		justify-content: flex-end;
	}
	.sm--around {
		justify-content: space-around;
	}
	.sm--between {
		justify-content: space-between;
	}
	.sm--top {
		align-items: flex-start;
	}
	.sm--middle {
		align-items: center;
	}
	.sm--bottom {
		align-items: flex-end;
	}
	.sm--stretch {
		align-items: stretch;
	}
	.sm--start-child > * {
		justify-content: flex-start;
	}
	.sm--center-child > * {
		justify-content: center;
	}
	.sm--end-child > * {
		justify-content: flex-end;
	}
	.sm--around-child > * {
		justify-content: space-around;
	}
	.sm--between-child > * {
		justify-content: space-between;
	}
	.sm--top-child > * {
		align-items: flex-start;
	}
	.sm--middle-child > * {
		align-items: center;
	}
	.sm--bottom-child > * {
		align-items: flex-end;
	}
	.sm--stretch-child > * {
		align-items: stretch;
	}
	.sm--row-ltr {
		flex-direction: row;
	}
	.sm--row-rtl {
		flex-direction: row-reverse;
	}
	.sm--col-ltr {
		flex-direction: column;
	}
	.sm--col-rtl {
		flex-direction: column-reverse;
	}
	.sm--wrap {
		flex-wrap: wrap;
	}
	.sm--nowrap {
		flex-wrap: nowrap;
	}
	.sm--nogap {
		padding: 0;
	}
	.sm--nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.sm--nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 900px) {
	.md-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	.md-offset-1 {
		margin-left: 8.33333%;
	}
	.md-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	.md-offset-2 {
		margin-left: 16.66667%;
	}
	.md-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	.md-offset-3 {
		margin-left: 25%;
	}
	.md-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	.md-offset-4 {
		margin-left: 33.33333%;
	}
	.md-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	.md-offset-5 {
		margin-left: 41.66667%;
	}
	.md-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	.md-offset-6 {
		margin-left: 50%;
	}
	.md-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	.md-offset-7 {
		margin-left: 58.33333%;
	}
	.md-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	.md-offset-8 {
		margin-left: 66.66667%;
	}
	.md-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	.md-offset-9 {
		margin-left: 75%;
	}
	.md-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	.md-offset-10 {
		margin-left: 83.33333%;
	}
	.md-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	.md-offset-11 {
		margin-left: 91.66667%;
	}
	.md-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	.md-offset-12 {
		margin-left: 100%;
	}
	.md-auto {
		flex: 0 0 auto;
	}
	.md-max {
		flex: 1 1 auto;
	}
	.md-hide {
		visibility: hidden;
	}
	.md-show {
		visibility: visible;
	}
	.md-first {
		order: -1;
	}
	.md-last {
		order: 99999999;
	}
	.md-start {
		justify-content: flex-start;
	}
	.md-center {
		justify-content: center;
	}
	.md-end {
		justify-content: flex-end;
	}
	.md-around {
		justify-content: space-around;
	}
	.md-between {
		justify-content: space-between;
	}
	.md-top {
		align-items: flex-start;
	}
	.md-middle {
		align-items: center;
	}
	.md-bottom {
		align-items: flex-end;
	}
	.md-stretch {
		align-items: stretch;
	}
	.md-start-child > * {
		justify-content: flex-start;
	}
	.md-center-child > * {
		justify-content: center;
	}
	.md-end-child > * {
		justify-content: flex-end;
	}
	.md-around-child > * {
		justify-content: space-around;
	}
	.md-between-child > * {
		justify-content: space-between;
	}
	.md-top-child > * {
		align-items: flex-start;
	}
	.md-middle-child > * {
		align-items: center;
	}
	.md-bottom-child > * {
		align-items: flex-end;
	}
	.md-stretch-child > * {
		align-items: stretch;
	}
	.md-row-ltr {
		flex-direction: row;
	}
	.md-row-rtl {
		flex-direction: row-reverse;
	}
	.md-col-ltr {
		flex-direction: column;
	}
	.md-col-rtl {
		flex-direction: column-reverse;
	}
	.md-wrap {
		flex-wrap: wrap;
	}
	.md-nowrap {
		flex-wrap: nowrap;
	}
	.md-nogap {
		padding: 0;
	}
	.md-nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.md-nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 900px) and (max-width: 1199px) {
	.md--offset-1 {
		margin-left: 8.33333%;
	}
	.md--offset-2 {
		margin-left: 16.66667%;
	}
	.md--offset-3 {
		margin-left: 25%;
	}
	.md--offset-4 {
		margin-left: 33.33333%;
	}
	.md--offset-5 {
		margin-left: 41.66667%;
	}
	.md--offset-6 {
		margin-left: 50%;
	}
	.md--offset-7 {
		margin-left: 58.33333%;
	}
	.md--offset-8 {
		margin-left: 66.66667%;
	}
	.md--offset-9 {
		margin-left: 75%;
	}
	.md--offset-10 {
		margin-left: 83.33333%;
	}
	.md--offset-11 {
		margin-left: 91.66667%;
	}
	.md--offset-12 {
		margin-left: 100%;
	}
	.md--hide {
		visibility: hidden;
	}
	.md--show {
		visibility: visible;
	}
	.md--first {
		order: -1;
	}
	.md--last {
		order: 99999999;
	}
	.md--start {
		justify-content: flex-start;
	}
	.md--center {
		justify-content: center;
	}
	.md--end {
		justify-content: flex-end;
	}
	.md--around {
		justify-content: space-around;
	}
	.md--between {
		justify-content: space-between;
	}
	.md--top {
		align-items: flex-start;
	}
	.md--middle {
		align-items: center;
	}
	.md--bottom {
		align-items: flex-end;
	}
	.md--stretch {
		align-items: stretch;
	}
	.md--start-child > * {
		justify-content: flex-start;
	}
	.md--center-child > * {
		justify-content: center;
	}
	.md--end-child > * {
		justify-content: flex-end;
	}
	.md--around-child > * {
		justify-content: space-around;
	}
	.md--between-child > * {
		justify-content: space-between;
	}
	.md--top-child > * {
		align-items: flex-start;
	}
	.md--middle-child > * {
		align-items: center;
	}
	.md--bottom-child > * {
		align-items: flex-end;
	}
	.md--stretch-child > * {
		align-items: stretch;
	}
	.md--row-ltr {
		flex-direction: row;
	}
	.md--row-rtl {
		flex-direction: row-reverse;
	}
	.md--col-ltr {
		flex-direction: column;
	}
	.md--col-rtl {
		flex-direction: column-reverse;
	}
	.md--wrap {
		flex-wrap: wrap;
	}
	.md--nowrap {
		flex-wrap: nowrap;
	}
	.md--nogap {
		padding: 0;
	}
	.md--nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.md--nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1200px) {
	.lg-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	.lg-offset-1 {
		margin-left: 8.33333%;
	}
	.lg-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	.lg-offset-2 {
		margin-left: 16.66667%;
	}
	.lg-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	.lg-offset-3 {
		margin-left: 25%;
	}
	.lg-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	.lg-offset-4 {
		margin-left: 33.33333%;
	}
	.lg-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	.lg-offset-5 {
		margin-left: 41.66667%;
	}
	.lg-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	.lg-offset-6 {
		margin-left: 50%;
	}
	.lg-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	.lg-offset-7 {
		margin-left: 58.33333%;
	}
	.lg-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	.lg-offset-8 {
		margin-left: 66.66667%;
	}
	.lg-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	.lg-offset-9 {
		margin-left: 75%;
	}
	.lg-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	.lg-offset-10 {
		margin-left: 83.33333%;
	}
	.lg-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	.lg-offset-11 {
		margin-left: 91.66667%;
	}
	.lg-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	.lg-offset-12 {
		margin-left: 100%;
	}
	.lg-auto {
		flex: 0 0 auto;
	}
	.lg-max {
		flex: 1 1 auto;
	}
	.lg-hide {
		visibility: hidden;
	}
	.lg-show {
		visibility: visible;
	}
	.lg-first {
		order: -1;
	}
	.lg-last {
		order: 99999999;
	}
	.lg-start {
		justify-content: flex-start;
	}
	.lg-center {
		justify-content: center;
	}
	.lg-end {
		justify-content: flex-end;
	}
	.lg-around {
		justify-content: space-around;
	}
	.lg-between {
		justify-content: space-between;
	}
	.lg-top {
		align-items: flex-start;
	}
	.lg-middle {
		align-items: center;
	}
	.lg-bottom {
		align-items: flex-end;
	}
	.lg-stretch {
		align-items: stretch;
	}
	.lg-start-child > * {
		justify-content: flex-start;
	}
	.lg-center-child > * {
		justify-content: center;
	}
	.lg-end-child > * {
		justify-content: flex-end;
	}
	.lg-around-child > * {
		justify-content: space-around;
	}
	.lg-between-child > * {
		justify-content: space-between;
	}
	.lg-top-child > * {
		align-items: flex-start;
	}
	.lg-middle-child > * {
		align-items: center;
	}
	.lg-bottom-child > * {
		align-items: flex-end;
	}
	.lg-stretch-child > * {
		align-items: stretch;
	}
	.lg-row-ltr {
		flex-direction: row;
	}
	.lg-row-rtl {
		flex-direction: row-reverse;
	}
	.lg-col-ltr {
		flex-direction: column;
	}
	.lg-col-rtl {
		flex-direction: column-reverse;
	}
	.lg-wrap {
		flex-wrap: wrap;
	}
	.lg-nowrap {
		flex-wrap: nowrap;
	}
	.lg-nogap {
		padding: 0;
	}
	.lg-nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.lg-nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1200px) and (max-width: 1799px) {
	.lg--offset-1 {
		margin-left: 8.33333%;
	}
	.lg--offset-2 {
		margin-left: 16.66667%;
	}
	.lg--offset-3 {
		margin-left: 25%;
	}
	.lg--offset-4 {
		margin-left: 33.33333%;
	}
	.lg--offset-5 {
		margin-left: 41.66667%;
	}
	.lg--offset-6 {
		margin-left: 50%;
	}
	.lg--offset-7 {
		margin-left: 58.33333%;
	}
	.lg--offset-8 {
		margin-left: 66.66667%;
	}
	.lg--offset-9 {
		margin-left: 75%;
	}
	.lg--offset-10 {
		margin-left: 83.33333%;
	}
	.lg--offset-11 {
		margin-left: 91.66667%;
	}
	.lg--offset-12 {
		margin-left: 100%;
	}
	.lg--hide {
		visibility: hidden;
	}
	.lg--show {
		visibility: visible;
	}
	.lg--first {
		order: -1;
	}
	.lg--last {
		order: 99999999;
	}
	.lg--start {
		justify-content: flex-start;
	}
	.lg--center {
		justify-content: center;
	}
	.lg--end {
		justify-content: flex-end;
	}
	.lg--around {
		justify-content: space-around;
	}
	.lg--between {
		justify-content: space-between;
	}
	.lg--top {
		align-items: flex-start;
	}
	.lg--middle {
		align-items: center;
	}
	.lg--bottom {
		align-items: flex-end;
	}
	.lg--stretch {
		align-items: stretch;
	}
	.lg--start-child > * {
		justify-content: flex-start;
	}
	.lg--center-child > * {
		justify-content: center;
	}
	.lg--end-child > * {
		justify-content: flex-end;
	}
	.lg--around-child > * {
		justify-content: space-around;
	}
	.lg--between-child > * {
		justify-content: space-between;
	}
	.lg--top-child > * {
		align-items: flex-start;
	}
	.lg--middle-child > * {
		align-items: center;
	}
	.lg--bottom-child > * {
		align-items: flex-end;
	}
	.lg--stretch-child > * {
		align-items: stretch;
	}
	.lg--row-ltr {
		flex-direction: row;
	}
	.lg--row-rtl {
		flex-direction: row-reverse;
	}
	.lg--col-ltr {
		flex-direction: column;
	}
	.lg--col-rtl {
		flex-direction: column-reverse;
	}
	.lg--wrap {
		flex-wrap: wrap;
	}
	.lg--nowrap {
		flex-wrap: nowrap;
	}
	.lg--nogap {
		padding: 0;
	}
	.lg--nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.lg--nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1800px) {
	.xl-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	.xl-offset-1 {
		margin-left: 8.33333%;
	}
	.xl-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	.xl-offset-2 {
		margin-left: 16.66667%;
	}
	.xl-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	.xl-offset-3 {
		margin-left: 25%;
	}
	.xl-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	.xl-offset-4 {
		margin-left: 33.33333%;
	}
	.xl-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	.xl-offset-5 {
		margin-left: 41.66667%;
	}
	.xl-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	.xl-offset-6 {
		margin-left: 50%;
	}
	.xl-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	.xl-offset-7 {
		margin-left: 58.33333%;
	}
	.xl-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	.xl-offset-8 {
		margin-left: 66.66667%;
	}
	.xl-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	.xl-offset-9 {
		margin-left: 75%;
	}
	.xl-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	.xl-offset-10 {
		margin-left: 83.33333%;
	}
	.xl-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	.xl-offset-11 {
		margin-left: 91.66667%;
	}
	.xl-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	.xl-offset-12 {
		margin-left: 100%;
	}
	.xl-auto {
		flex: 0 0 auto;
	}
	.xl-max {
		flex: 1 1 auto;
	}
	.xl-hide {
		visibility: hidden;
	}
	.xl-show {
		visibility: visible;
	}
	.xl-first {
		order: -1;
	}
	.xl-last {
		order: 99999999;
	}
	.xl-start {
		justify-content: flex-start;
	}
	.xl-center {
		justify-content: center;
	}
	.xl-end {
		justify-content: flex-end;
	}
	.xl-around {
		justify-content: space-around;
	}
	.xl-between {
		justify-content: space-between;
	}
	.xl-top {
		align-items: flex-start;
	}
	.xl-middle {
		align-items: center;
	}
	.xl-bottom {
		align-items: flex-end;
	}
	.xl-stretch {
		align-items: stretch;
	}
	.xl-start-child > * {
		justify-content: flex-start;
	}
	.xl-center-child > * {
		justify-content: center;
	}
	.xl-end-child > * {
		justify-content: flex-end;
	}
	.xl-around-child > * {
		justify-content: space-around;
	}
	.xl-between-child > * {
		justify-content: space-between;
	}
	.xl-top-child > * {
		align-items: flex-start;
	}
	.xl-middle-child > * {
		align-items: center;
	}
	.xl-bottom-child > * {
		align-items: flex-end;
	}
	.xl-stretch-child > * {
		align-items: stretch;
	}
	.xl-row-ltr {
		flex-direction: row;
	}
	.xl-row-rtl {
		flex-direction: row-reverse;
	}
	.xl-col-ltr {
		flex-direction: column;
	}
	.xl-col-rtl {
		flex-direction: column-reverse;
	}
	.xl-wrap {
		flex-wrap: wrap;
	}
	.xl-nowrap {
		flex-wrap: nowrap;
	}
	.xl-nogap {
		padding: 0;
	}
	.xl-nogap-tb {
		padding-top: 0;
		padding-bottom: 0;
	}
	.xl-nogap-lr {
		padding-left: 0;
		padding-right: 0;
	}
}
